body{
    font-family: 'Manrope', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
margin: 0px;
}
h1{
    font-size: 50px;
}
button{
    background-color: palevioletred;
    color: azure;
    border-radius: 5px;
    padding: 10px;
    border: none;
}
.half-width{
    width: 40%;
    padding-left: 5%;
    margin: 2%;
    float: left;
}
.top{
    background-image: url("blurred-gradient-background-pink-color.jpg");
    height: 590px;
    margin: 0;
}
.mid{
    text-align: center;
    padding: 0px 200px;
}
.photo{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 15px;
   padding: 170px;
   text-align: center;
}
.redious{
    border-top-left-radius: 44%;
    border-top-right-radius: 44%;

}
.redious img{
    height: 300px;
}
#pink{
    background-color: pink;
}
#cyan{
    background-color: cyan;
}
#gray{
    background-color: gray;
}
.pink-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: -150px;
}
.small-img{
    background-color: bisque;
    height: 200px;
    margin: 20px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 200px;
}
.small-half{
    text-align: center;
    background-color: antiquewhite;
    height: 500px;
}
#center{
    text-align: center;
    padding-top: 180px;
}
.flower-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
#first img{
    width: 200px;
    margin: 20px;
}
#second img{
    width: 200px;
    margin: 20px;
}
#three img{
    width: 200px;
    margin: 20px;
}
#fourth img{
    width: 200px;
    margin: 20px;
}
.cupon{
    text-align: center;
    height: 300px;
    margin: 0px 175px;
    background-image: url("Flower\ Asset/rectangle 9.png");
    padding: 60px 0px 60px;
    border-radius: 4px;
}
input{
    width: 300px;
    height: 30px;
}
.small-img{
    border-radius: 4px;
}
span{
    color: palevioletred;
}
.smaller{
    font-size: xx-small;
}
.bottom{
    text-align: center;
    background-color: black;
    height: 250px;
    color: antiquewhite;
}